<!DOCTYPE HTML>
<html>
  <head>

    <title>inTone</title>
    <meta charset="utf-8">
	
    <script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="./../lib/underscore.min.js"></script>

    <link rel="stylesheet" type="text/css" href="./../css/intone.css" />

    <meta property="og:title" content="inTone" />
    <meta property="og:description" content="How good is your intonation?" />
    <meta property="og:image" content="./../applepie128.png" />

  </head>

  <body>
   
    <div id="audio_div" class=""></div>
    <div id="T1_cross" class= "cross"> + </div>
    <div id="T1_continuationA" onclick= "T1_clickContA()" style="cursor:hand;cursor:pointer"></div>
    <div id="T1_continuationB" onclick= "T1_clickContB()" style="cursor:hand;cursor:pointer"></div>
    <div id="T1_results" class = "results"></div>
     <div id="T1_next">
      <input  class = "large green button" type="button" value="Next" onClick="showCross()"/>
    </div>
    <div id="test_2">
      This is the end of the first session.  Please wait for the experimenter before continuing.
      <a href= "./../view/testTwo.html"> <input  class = "large green button" type="button" value="Test Two" onClick="testTwo()"/></a>
    </div>
    <div class = "end">
      This is the end of the experiment.  Thank you for your participation.
      <input  class = "large green button" type="button" value="Post" onClick="submitForm()"/>

    </div>
    <script type="text/javascript" charset="utf-8" src="./../src/submitForm.js"></script>
    <script type="text/javascript" charset="utf-8" src="./../src/Participant.js"></script>
    <script type="text/javascript" charset="utf-8" src="./../src/TestOne.js"> </script>  
    <script type="text/javascript" charset="utf-8" src="./../src/Stimuli.js"> </script> 

  </body>
</html>