<!DOCTYPE HTML>
<html>
  <head>

    <title>inTone</title>
    <meta charset="utf-8">
	
    <script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="./../lib/underscore.min.js"></script>

    <link rel="stylesheet" type="text/css" href="./../css/intone.css" />

    <meta property="og:title" content="inTone" />
    <meta property="og:description" content="How good is your intonation?" />
    <meta property="og:image" content="./../applepie128.png" />

  </head>

  <body>
  
THIS IS THE TRAINING PAGE

   

  

      <script type="text/javascript" charset="utf-8" src="./../src/Training.js"></script>
      <script type="text/javascript" charset="utf-8" src="./../src/submitForm.js"></script>
      <script type="text/javascript" charset="utf-8" src="./../src/Participant.js"></script>
      <script type="text/javascript" charset="utf-8" src="./../src/StressTest.js"></script>

  </body>
</html>